<!DOCTYPE html>
<html>
<head>
    <title>Mortgage Fairness Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="topnav">
    <h2>Mortgage Fairness Dashboard</h2>
    <form methods="GET" action="/">
                    
            
                    <button type="submit" class="button">Home

                    </button>
                    
                </form>
    
    <form action="/datalist">
                    
            
                    <button type="submit" class="button">Data list

                    </button>
                    
                </form>
    <form  action="/inputdata">
                    
            
                    <button type="submit" class="button">Input data

                    </button>
                    
                </form>
</div>

<main>
    {% block content %}{% endblock %}
</main>

</body>
</html>