{% extends "base.html" %}
{% block title %}Applicant Data{% endblock %}

{% block content %}

<h1>Applicant Data</h1>

<div class="card">
    <h3>Quick preview (first 10 rows)</h3>
    {{ preview_table|safe }}
</div>
    <h2>All records</h2>
    <h3>Update and Delete Records Here!</h3>
    <div class="card">
    
     <table class="custom-table">
        
        <thead>
            <tr>
                <th>ID</th>
                <th>loan_type</th>
                <th>loan_amount</th>
                <th>income</th>
                <th>debt_to_income_ratio</th>
                <th>loan_to_value_ratio</th>
                <th>interest_rate</th>
                <th>property_value</th>
                <th>interest_rate</th>
                <th>property_value</th>
                <th>loan_term</th>
                <th>loan_type</th>
                <th>loan_purpose</th>
                <th>occupancy_type</th>
                <th>race</th>
                <th>Gender</th>
                <th>Age band</th>
                <th>negative amorization</th>
                <th>rate_spread</th>
            </tr>
        </thead>
        <tbody>
        {% for row in records %}
        <tr>
            <td>{{ row.get('ID','') }}</td>
            <td>{{ row.get('loan_type','') }}</td>
            <td>{{ row.get('loan_amount','')}}</td>
            <td>{{ row.get('income','')}}</td>
            <td>{{ row.get('debt_to_income_ratio','')}}</td>
            <td >{{ row.get('interest_rate','')}}</td>
            <td >{{ row.get('property_value','')}}</td>
            <td >{{ row.get('loan_term','')}}</td>
            <td >{{ row.get('loan_purpose','')}}</td>
            <td >{{ row.get('occupancy_type','')}}</td>
            <td >{{ row.get('derived_race','')}}</td>
            <td >{{ row.get('derived_sex','')}}</td>
            <td >{{ row.get('applicant_age','')}}</td>
            <td >{{ row.get('negative_amortization','')}}</td>
            <td >{{ row.get('rate_spread','')}}</td>
            <td>
               
                
                
            </td>
        </tr>
        {% endfor %}
        </tbody>


               
        
    </table>
    </div>
</div>

{% endblock %}
