{% extends "base.html" %}
{% block title %}Applicant Data{% endblock %}

{% block content %}


<h1>Applicant Data</h1>



    <h2>All records</h2>
    <h3>All submitted applications</h3>
    <div class="card">
    
    <table>    
        <thead>
            <tr>
                <th>ID</th>
                <th>loan_type</th>
                <th>loan_amount</th>
                <th>income</th>
                <th>debt_to_income_ratio</th>
                <th>loan_to_value_ratio</th>
                <th>interest_rate</th>
                <th>property_value</th>
                <th>loan_term</th>
                <th>loan_purpose</th>
                <th>occupancy_type</th>
                <th>race</th>
                <th>Gender</th>
                <th>Age band</th>
                <th>negative amorization</th>
                <th>rate_spread</th>
                <th>predict application</th>
            </tr>
        </thead>
    <tbody>
        {% for row in records %}
        <tr>
            <td>{{ row.get('_id','') }}</td>
            <td>{{ row.get('loan_type','') }}</td>
            <td>{{ row.get('loan_amount','')}}</td>
            <td>{{ row.get('income','')}}</td>
            <td>{{ row.get('debt_to_income_ratio','')}}</td>
            <td>{{ row.get('loan_to_value_ratio','')}}</td>
            <td >{{ row.get('interest_rate','')}}</td>
            <td >{{ row.get('property_value','')}}</td>
            <td >{{ row.get('loan_term','')}}</td>
            <td >{{ row.get('loan_purpose','')}}</td>
            <td >{{ row.get('occupancy_type','')}}</td>
            <td >{{ row.get('derived_race','')}}</td>
            <td >{{ row.get('derived_sex','')}}</td>
            <td >{{ row.get('applicant_age','')}}</td>
            <td >{{ row.get('negative_amortization','')}}</td>
            <td >{{ row.get('rate_spread','')}}</td>


            <td>
                <form method="POST" action="{{ url_for('select_id') }}">
                    <input 
                        type="hidden" name="select_id" value="{{ row['_id'] }}"
                    >
            
                    <button type="submit" class="button">Select application

                    </button>
                </form>

                </td>

                <td>

                <form class="inline" method="POST"  action="{{ url_for('delete', select_id=row['_id']) }}" onsubmit="return confirm('Delete this record?');">
                    <input class="button" type="submit" value="Delete">Delete application
                </td>
                    
                </form>

                
                
               
                
                
            </td>
        </tr>
        {% endfor %}
    </tbody>


               
        
    </table>
    </div>
</div>


{% endblock %}
