{% extends "base.html" %}

{% block content %}
<h1>Mortgage Approval Model Demonstration</h1>

<p>
    This website demonstrates machine learning models used to predict
    mortgage application outcomes and evaluate fairness across demographic groups.
</p>

<div class="cards">
    <div class="card">
        <h3>applications</h3>
        <p>Show list of mortgage application data</p>
        <a href="/datalist">Datalist</a>
    </div>

    

    <div class="card">
        <h3>input application</h3>
        <p>Input a new mortgage application.</p>
        <a href="/inputdata">Input Data</a>
    </div>
</div>
{% endblock %}