{% extends "base.html" %}
{% block content %}
<h2>Add New Application</h2>
<form method="POST" action="{{ url_for('input_data_post') }}">     
    <p>Loan Type</p>
    <select name="loan_type" id="loan_type">
        <option value="Conventional">Conventional</option>
        <option value="FHA insured">FHA insured</option>
        <option value="Veterans affairs guaranteed">Veterans affairs guaranteed</option> 
        <option value="USDA rural housing or farm service guaranteed">USDA rural housing or farm service guaranteed</option>   
    </select>
    <p>Loan Amount</p><input type="text" name="loan_amount" id="loan_amount">
    <p>Income</p><input type="text" name="income" id="income">
    <p>Debt to income ratio</p>
    <select name="debt_to_income_ratio" id="debt_to_income_ratioe">
        <option value="<20%">less than 20%</option>
        <option value="20%-<30%">20%-30%</option>
        <option value="30%-<36%">30%-36%</option>
        <option value="37%">37%</option>
        <option value="38%">38%</option>
        <option value="39%">39%</option>
        <option value="40%">40%</option>
        <option value="41%">41%</option>
        <option value="42%">42%</option>
        <option value="43%">43%</option>
        <option value="44%">44%</option>
        <option value="45%">45%</option>
        <option value="46%">46%</option>
        <option value="47%">47%</option>
        <option value="48%">48%</option>
        <option value="49%">49%</option>
        <option value="50%-60%">50%-60%</option>
        <option value=">60%">over 60%</option>
    </select>

    <p>Interest Rate</p><input type="text" name="interest_rate" id="interest_rate">
    <p>Property Value</p><input type="text" name="property_value" id="property_value">
    <p>Loan Term</p><input type="text" name="loan_term" id="loan_term">
    <p>loan_purpose</p>
    <select name="loan_purpose" id="loan_purpose">
        <option value="Home purchase">Home purchase</option>
        <option value="Home improvement">Home improvement</option>
        <option value="refinancing">refinancing</option>
        <option value="cash-out refinancing">cash-out refinancing</option> 
        <option value="other purpose">other purpose</option>
        <option value="Not applicable">Not applicable</option>      
    </select>
    <p>Occupancy Type</p>
    <select name="occupancy_type" id="occupancy_type">
        <option value="Principal residence">Principal residence</option>
        <option value="Second residence">Second residence</option>
        <option value="Investment property">Investment property</option>    
    </select>

    <p>Race</p>
    <select name="derived_race" id="derived_race">
        <option value="American Indian or Alaska Native">American Indian or Alaska Native</option>
        <option value="Asian">Asian</option>
        <option value="Black or African American">Black or African American</option>
        <option value="Native Hawaiian or Other Pacific Islander">Native Hawaiian or Other Pacific Islander</option>
        <option value="White">White</option>
        <option value="2 or more minority races">2 or more minority races</option>
        <option value="Joint">Joint</option>
    </select>
    <p>Gender</p>
    <select name="derived_sex" id="derived_sex">
        <option value="Joint">Joint</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    
    </select>
    <p>Age Group</p>
    <select name="applicant_age" id="applicant_age">
        <option value="<25"><25</option>
        <option value="25-34">25-34</option>
        <option value="35-44">35-44</option>
        <option value="45-54">45-54</option>
        <option value="55-64">55-64</option>
        <option value="65-74">65-74</option>
        <option value=">74">>74</option>
        
    </select>
    <p>Negative Amortization</p>
    <select name="negative_amortization" id="negative_amortization">
        <option value="No negative amortization">No negative amortization</option>
        <option value="Negative amortization">Negative amortization</option>
        <option value="Exempt">Exempt</option>    
    </select>

    <p>Rate Spread</p><input type="text" name="rate_spread" id="rate_spread" min="0">

    <br><br>
    <input class="button" type="submit" value="Create">
</form>
{% endblock %}