{% extends "base.html" %}
{% block content %}
<h2>Add New Patient</h2>
<form method="POST" action="{{ url_for('add_record') }}">   
    <p>ID</p><input type="text" name="id" id="id">   
    <p>Gender</p><input type="text" name="gender" id="gender">
    <p>Hypertension</p><input type="number" name="hypertension" id="hypertension">
    <p>Heart Disease</p><input type="number" name="heart_disease" id="heart_disease">
    <p>Ever married</p><input type="text" name="ever_married" id="ever_married" required>
    <p>Work type</p><input type="text" name="work_type" id="work_type">
    <p>Residence Type</p><input type="text" name="Residence_type" id="Residence_type" required>
    <p>Average Glucose Level</p><input type="text" name="avg_glucose_level" id="avg_glucose_level" min="0">
    <p>BMI</p><input type="text" name="bmi" id="bmi" min="0">
    <p>Smoking status</p><input type="text" name="smoking_status" id="smoking_status" min="0">
    <p>Stroke</p><input type="number" name="stroke" id="stroke" min="0">
    <br><br>
    <input class="button" type="submit" value="Create">
</form>
{% endblock %}