{% extends "base.html" %}

{% block content %}
<h1>Bias Mitigation techniques</h1>

<p>
    Apply Fairlearn's mitigation techniques to the data and see if you get a less biased result.
</p>

<div class="cards">
    <div class="card">
        <h3>preprocessing techniques</h3>
        <p>Try the model without inputting sensitive features</p>
        <a href="/preprocessing">PreProcessing</a>
    </div>


    <div class="card">
        <h3>In-processing Techniques</h3>
        <p>Use Exponentiated gradient to reduce bias (May take some time to load)</p>
        <a href="/inprocessing">In-processing</a>
    </div>

    <div class="card">
        <h3>Post Processing techniques</h3>
        <p>Use a threshold optimisers that target age and Race</p>
        <a href="/postprocessing">Post processing</a>
    </div>


{% endblock %}