{% extends "base.html" %}

{% block content %}
<h1>Mortgage Approval Model Demonstration</h1>

<p>
    This website demonstrates machine learning models used to predict
    mortgage application outcomes and evaluate fairness across demographic groups.
</p>

<div class="cards">
    <div class="card">
        <h3>Logistic Regression model</h3>
        <p>Use a logistic regression model on the application</p>
        <a href="/logistic">Logistic regression</a>
    </div>


    <div class="card">
        <h3>Mitigate Bias</h3>
        <p>Enter a sample mortgage application and view the predicted result.</p>
        <a href="/mitigation">Mitigation</a>
    </div>

    <div class="card">
        <h3>All predictions</h3>
        <p>View stats on accuracy and bias on each of the models.</p>
        <a href="/all_predictions">All predictions</a>
    </div>

    <div class="card">
        <h3>Delinquency model</h3>
        <p>Use a ML model to predict delinquency</p>
        <a href="/delinquency">Delinquency</a>
    </div>

    <h1>Applicant Data</h1>



    <h2>Selected Applicant</h2>
    <div class="card">
    
     <table class="custom-table">
        
        <thead>
            <tr>
                <th>ID</th>
                <th>loan type</th>
                <th>loan amount</th>
                <th>income</th>
                <th>debt to income ratio</th>
                <th>loan to value ratio</th>
                <th>interest rate</th>
                <th>property value</th>
                <th>loan term</th>
                <th>loan purpose</th>
                <th>occupancy type</th>
                <th>race</th>
                <th>Gender</th>
                <th>Age band</th>
                <th>negative amorization</th>
                <th>rate spread</th>
            </tr>
        
            <tr>
                <td>{{ applicant_data.applicant_id }}</td>
                <td>{{ applicant_data.loan_type }}</td>
                <td>{{ applicant_data.loan_amount }}</td>
                <td>{{ applicant_data.income }}</td>
                <td>{{ applicant_data.debt_to_income_ratio }}</td>
                <td>{{ applicant_data.loan_to_value_ratio }}</td>
                <td >{{ applicant_data.interest_rate }}</td>
                <td >{{ applicant_data.property_value }}</td>
                <td >{{ applicant_data.loan_term }}</td>
                <td >{{ applicant_data.loan_purpose }}</td>
                <td >{{ applicant_data.occupancy_type }}</td>
                <td >{{ applicant_data.derived_race }}</td>
                <td >{{ applicant_data.derived_sex }}</td>
                <td >{{ applicant_data.applicant_age }}</td>
                <td >{{ applicant_data.negative_amortization }}</td>
                <td >{{ applicant_data.rate_spread }}</td>
            </tr>

  
{% endblock %}