{% extends "base.html" %}
{% block title %}Applicant Data{% endblock %}

{% block content %}


<h1>Mitigate bias with Threshold Optimiser (post-processing technique)</h1>


        {% if prediction_text_TOR %}
            <h3 class="result">{{ prediction_text_TOR }}</h3>
            
        {% endif %}

        {% if prediction_text_TOA %}
            <h3 class="result">{{ prediction_text_TOA }}</h3>
            
        {% endif %}

<div class="cards">
    <div class="card">
        <h4>Predict Delinquency</h4>
        <p>Use our delinquency models to assess if the applicant is likely to become delinquenct on their loan</p>
        <a href="/delinquency">Delinquency models</a>
    </div>

{% endblock %}