{% extends "base.html" %}
{% block title %}Applicant Data{% endblock %}

{% block content %}


<h1>Predict application with logistic regression</h1>

<input type="submit" value="Predict">
        </form>

        {% if prediction_text_TOR %}
            <h2 class="result">{{ prediction_text_TOR }}</h2>
            
        {% endif %}

        {% if prediction_text_TOA %}
            <h2 class="result">{{ prediction_text_TOA }}</h2>
            
        {% endif %}

<div class="cards">
    <div class="card">
        <h4>Predict Delinquency</h4>
        <p>Use our delinquency models to assess if the applicant is likely to become delinquenct on their loan</p>
        <a href="/delinquency">Delinquency models</a>
    </div>

{% endblock %}