{% extends "base.html" %}
{% block title %}Applicant Data{% endblock %}

{% block content %}


<h1>Predict application with logistic regression</h1>



        {% if prediction_text_CR %}
            <h2 class="result">{{ prediction_text_CR }}</h2>
            

        {% endif %}


        {% if probability_text_CR %}
            <h3 class="result">{{ probability_text_CR }}</h3>
            
        {% endif %}


        {% if prediction_text_NSF %}
            <h4 class="result">{{ prediction_text_NSF }}</h4>
            
        {% endif %}


        {% if probability_text_NSF %}
            <h5 class="result">{{ probability_text_NSF }}</h5>
            
        {% endif %}

<div class="cards">
    <div class="card">
        <h3>Predict Delinquency</h3>
        <p>Use our delinquency models to assess if the applicant is likely to become delinquenct on their loan</p>
        <a href="/delinquency">Delinquency models</a>
    </div>

{% endblock %}